html
{
    background-color: #ffe3e0;
}

body
{
    font-family: Montserrat;
    color: #461220;
    margin: 75px 150px;
    background-color: #fff6f9;
}

.header
{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px 100px;
    color: white;
    background-color: #461220;
}

.profile-pic
{
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.navbar
{
    display: flex; 
    font-weight: bold;
    background-color: #C29D93;
    margin-top: 0px;
}

.navbar a
{
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    padding: 30px 0px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a:hover
{
    color: #ffe3e0;
    background-color: #9f7774;
}

.navbar a.active
{
    color: #ffe3e0;
    background-color: #9f7774;
}

.content
{
    padding: 50px 200px;
}